<h3>Top Questions</h3>

<%- @questions.each do |question| -%>
<a href="/questions/<%= question.id %>"><%= question.title %></a>

  <table>
    <div>
      <%= link_to 'Edit', '/questions/' + question.to_param + '/edit' %>
      <%= link_to 'Delete', '/questions/' + question.to_param, method: :delete %>
    </div>
  </table>

<%- end -%>
