/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body{
   font-size: 12px;
   text-align: left;
   padding-top: 10px;
   margin-top: 20px;
 }

 a {
   text-decoration: none;
   color: #2d5972;
 }

 a:hover{
    color: tomato;
 }

.side-bar a{
  color: #e3e3e3;
  font-weight:bold;
  font-size: 18px;
}

li{
  list-style-type: none;
}

.question_name{
  font-size: 25px;
  font-weight: bold;
  margin-right: 130px;
}

.info_table th{
  text-align: right;
}

.info_table td {
  text-align: left;
}

.answer_table {
  border-style: solid;
  border-color: tomato;
  background-color: #e3e3e3  ;
  padding-left: 10px;
  padding-top: 10px;
}

.answer_table td{
  text-align: left;
}

.answer_table th{
  text-align: right;
}

.left-block a{
  color: tomato;
  text-align: left;
}

.left-block {
  margin-top: 10px;
}

.left-block a:hover{
  font-weight: bolder;
}

.center_me{
  margin-right: 130px;
}

.table-specs{
  border: none;
  background: repeating-linear-gradient(
    90deg,
    #ffffff,
    #e3e3e3
  );
}

.space{
  padding-top: 60px;
  color:white;
}
